NEXT_PUBLIC_GURS_ORTHO_WMS_URL=https://ipi.eprostor.gov.si/gwc-si-gurs-dts/service/wms
NEXT_PUBLIC_GURS_ORTHO_WMS_LAYER=SI.GURS.ZPDZ:DOF050
NEXT_PUBLIC_GURS_ORTHO_WMS_VERSION=1.1.1
NEXT_PUBLIC_GURS_ORTHO_WMS_FORMAT=image/png
